	<div class="intro intro-services">
		<div class="intro-image">
			<img src="css/images/temp/who_we_help.png" width="1600" alt="" />
		</div><!-- /.intro-image -->

		<div class="intro-content">
			<div class="row">
				<h1>Who we Help</h1>
			</div><!-- /.row -->
		</div><!-- /.intro-content -->
	</div><!-- /.intro -->

	<div class="container">
		<div class="container-body">
			<section class="section section-therapy section-therapy-alt">
				<div class="row">
					<div class="medium-12 large-12 columns">
						<header class="section-head">
							<h2>Our Therapy</h2>

							<p>Our therapy is available for children experiencing difficulty in any of the following areas:</p>
						</header><!-- /.section-head -->

						<div class="section-body">
							<div class="accordion-therapy" data-therapy-id=<%=@therapy_id%>>
								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='feeding'>Feeding</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/feeding.jpg" height="238" width="308" alt="Feeding therapy" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p> 
												During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
												textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child.
											</p>

										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='articulation'>Articulation</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/articulation.jpg" height="238" width="308" alt="Articulation" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												An articulation disorder involves problems making sounds. Sounds can be substituted, left off, added or changed. These errors may make it hard for people to understand the child. Articulation therapy focuses on the motor aspects of speech production and the clarity of speech sound production. Articulation therapy involves behavioral techniques, focused on teaching children new sounds in place of error-sounds or omitted sounds, one at a time, and then gradually introducing them (new sounds that is) into longer and longer utterances, and eventually into normal conversational speech.
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='language-disorder'>Language Disorder</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/language_disorder.jpg" height="238" width="308" alt="Language disorder" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												A language disorder may be either an expressive language disorder or a receptive language disorder, or a combination of expressive and receptive.
												<ul>
													<li>
														<h5>Expressive Language Disorder:</h5>
														<p>
															Occurs when a child demonstrates difficulty with verbal expression. They may exhibit word retrieval difficulties, have limited vocabulary usage, present with difficulty producing longer sentences or phrases. They may also experience difficulty using proper syntax, semantics, or morphology.
														</p>
													</li>

													<li>
														<h5>Receptive Language: </h5>
														<p>
															Occurs when a child presents with difficulties in the ability to attend to, process, comprehend, retain, or integrate spoken language. For example, he/she may have difficulty following directions, answering questions, or may appear not to attend to spoken language.
														</p>
													</li>
												</ul>
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='pre-literacy'>Pre-Literacy</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/pre_literacy.jpg" height="238" width="308" alt="Pre-literacy" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												Pre-literacy, or phonemics, awareness is the ability to hear, identify and manipulate individual sounds in spoken words; involves blending, segmenting and / deleting sounds.
												<ul>
													<li>
														<h5>Pre-reading Skills/Letter-Sound Recognition:</h5> 
														<p>
															The ability to hear, identify and manipulate the individual sounds in words is a "pre-reading" skill that provides children with the ability to become aware that sounds are actually building blocks that can be used to construct words. This therapy encourages children to become aware of the many sounds in their language.
														</p>
													</li>
												</ul>
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='phonological-process'>Phonological Process</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/phonological_processing.png" height="238" width="308" alt="Phonological processing" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												A phonological process disorder involves patterns of sound errors. For example, substituting all sounds made in the back of the mouth like "k" and "g" for those in the front of the mouth like "l" and "t" (e.g., saying "tat" for "cat")
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='auditory-processing'>Auditory Processing</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/auditory_processing.png" height="238" width="308" alt="Auditory processing" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												A child with an auditory processing disorder presents with difficulty in processing the information they hear in the same way as others because their ears and brain don't fully coordinate. Something adversely affects the way the brain recognizes and interprets sounds, most notably the sounds composing speech. Children with APD often do not recognize subtle differences between sounds in words, even when the sounds are loud and clear enough to be heard.
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='executive-functioning'>Executive Functioning</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/executive_functioning.png" height="238" width="308" alt="Executive functioning" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												 An executive function disorder describes difficulties associated with goal setting, carrying out organized steps and modifying a plan to complete a task successfully. These skills are important for learning from past experiences and applying the knowledge in new experiences. Attention, memory, impulse control, organization, planning, and hierarchical thinking problems often described by parents and teachers are the executive function.
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='early-intervention'>Early Intervention: Speech and Language Delay</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/early_intervention.jpg" height="238" width="308" alt="Early intervention" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												Research has shown that the time between birth and 36 months is an extremely critical period of development. These months offer a window of opportunity that will not be available later on in life. Early intervention allows us to both identify and treat very young children in an effort to minimize any potential speech and language developmental issues.
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='stuttering'>Stuttering/Fluency</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/stuttering.png" height="238" width="308" alt="Stuttering treatment" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												A stuttering disorder can be described having non-fluent speech. Characteristics of non-fluent speech include repetition of sounds, syllables and phrases. Prolongations or stretching of syllables may occur, as well as blocks, or tense pauses. Physical behaviors or reactions may also co-exist with the stuttering episodes.
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='tongue-thrust'>Tongue Thrust</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/tongue_thrust.png" height="238" width="308" alt="Tongue thrust" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												A tongue thrust is present when a child experiences a delay or interruption in the oral maturational process and fails to progress to an adult swallow pattern. Components of tongue thrust therapy include exercises for the lips, tongue and jaw that are designed to change an incorrect or immature swallow to an adult pattern that is beneficial to the positioning of teeth and to correct articulation of speech sounds.
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='apraxia'>Apraxia of Speech/Motor Speech Disorders</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/apraxia.png" height="238" width="308" alt="Apraxia" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												Apraxia of speech, also known as verbal apraxia or dyspraxia, is a speech disorder in which a child has trouble saying what he or she wants to say correctly and consistently. It is a motor speech disorder which a child presents with difficulty coordinating the oral muscles used for speech. It is not due to weakness or paralysis of the speech muscles, but rather voluntary coordination. The severity of apraxia of speech can range from mild to severe.
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='social-skills'>Social Skills/Pragmatics</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/social_skills.jpg" height="238" width="308" alt="Social skills" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												Pragmatics is the area of language function that embraces the use of language in social contexts (knowing what to say, how to say it, and when to say it - and how to "be" with other people). Children with pragmatic difficulties have great trouble using language socially in ways that are appropriate or typical of children of their age. They often do not understand that we take turns to talk, and they will "talk over the top of you" at times, or, at other times respond to what you say with inappropriate silences, or in a voice that is too quiet. They may interrupt excessively and talk irrelevantly or about things the listener shows no interest in. Children with pragmatic disorders often have communicative behavior that appears to be rude and inconsiderate.
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='autism'>Autism Spectrum</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/autism_spectrum.jpg" height="238" width="308" alt="Autism spectrum" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>
												Autism spectrum disorders are a group of disorders characterized by impairments in social interaction, imaginative activity, verbal and nonverbal communication skills,. Children diagnosed on the spectrum often appear to have a limited number of interests and activities that also tend to be repetitive.
											</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="/services" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
															
																<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
																
																<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
																
																<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->
							</div><!-- /.accordion-therapy -->
						</div><!-- /.section-body -->

						<div class="section-actions">
							<a href="/contact" class="btn btn-more">
								<span>Contact us</span>
			
								<i class="ico ico-more"></i>
							</a>
						</div><!-- /.section-actions -->
					</div><!-- /.medium-12 large-12 columns -->
				</div><!-- /.row -->
			</section><!-- /.section section-therapy -->
		</div><!-- /.container-body -->

		<div class="container-images">
			<img src="css/images/cloud.png" class="cloud" alt="" width="163" height="107" />
			
			<img src="css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />
			
			<img src="css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />
			
			<img src="css/images/cloud-big.png" class="cloud-large" height="183" width="280" alt="" />
			
			<img src="css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
		</div><!-- /.container-images -->
	</div><!-- /.container -->
