<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Chatterboxes - Boston, MA Speech Pathology and Therapy</title>
</head>

<body>
  <div class="intro-content">
    <div class="row">
      <h1>Chatterboxes</h1>
      <h3>Speech Pathology</h3>
      <p><span>Hi Brittany,</span></p>
      <p>New message from <%= @full_name %>.</p>
      <p><em><%= @message %></em></p>
      <p>
        They can be reached at:
        <ul>
          <li>Phone: <%=  @phone %></li>
          <li>Email: <%= @email %> </li>
        </ul>
      </p>
    </div><!-- /.row -->
  </div><!-- /.intro-content -->
</body>
</html>
